body {
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 20px;
    margin: 0 0 20px;
    line-height: 1;
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
}

#wrapper {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.loader {
    background: url("../img/ajax-loader.gif") no-repeat 0 0;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 4px;
}

.loader.-hidden {
    display: none;
}


#gallery {
    margin-left: -20px;
    position: relative;
}


#gallery .image {
    margin-left: 20px;
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

.hover-image {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 20px;
    width: 900px;
    text-align: center;
    background-color: #DEDEDE;
    padding: 20px 0;
    transition: 1s;
}
.hover-image img {
    max-width: 100%;
}

.hover-image.-hidden {
    left: -3000px;
}